@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
}

.container {
    padding: 12px;
}

.top-section {
    margin: 48px 0px 36px 0px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1000;
}

input {
    color: black;
    font-size: 18px;
    padding: 4px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
}

h1 {
    margin-bottom: 10px;
}

.list-item {
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgb(59, 58, 58);
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

.Emoji {
    width: 5%;
    font-size: 48px;
    text-align: center;
    opacity: 1;
    animation: size-change 1s ease-in-out forwards, fade-in 0.5s ease-in-out forwards;
}

.aliases {
    width: 40%;
    text-align: end;
    color: bisque;
}

.description {
    width: 55%;
    text-align: end;
    display: block;
}

.pop-out {
    animation: pop-out 0.5s ease-in-out forwards;
}

.not-found {
    text-align: center;
    font-size: 20px;
    color: red;
    margin-top: 20px;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes pop-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes size-change {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 750px) {
    input {
        font-size: 16px;
    }

    .list-item {
        font-size: 14px;
    }

    .Emoji {
        width: auto;
        font-size: 32px;
    }

    .description {
        width: auto;
        display: none;
    }

    .aliases {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
}
h4 i{
    color: aqua;
}
